@import "lib/micromodal.css";
@import "form/select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    position: relative;
}

input[type=number]:not(.default_appearance) {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

button.disable {
    background-color: rgb(148 163 184);
}

.socials-min-width {
    min-width: 40px;
}

/**
Cookies notification in browser (privacy cookie)
 */
